.layout {
  min-height: calc(100vh - 64px);
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: url(../../../../../public/images/blur-asset-left.png) left bottom
      no-repeat,
    url(../../../../../public/images/blur-asset-right.png) right top no-repeat;
  background-size: 500px, 500px;

  .cover {
    grid-area: cover;
    width: 136px;
    object-fit: contain;
    align-self: center;
  }

  .title {
    grid-area: titles;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-self: center;
  }

  .divider {
    grid-area: divider;
    width: 100%;
    height: 1px;
    border: none;
    border-top: 1px solid #CCD1EE;
    align-self: center;
  }

  .form {
    grid-area: form;
  }

  &__main {
    flex-grow: 1;
    display: grid;
    grid-template-areas: 'titles cover' 'divider divider' 'form form';
    grid-template-columns: 188px 133px;
    grid-template-rows: 160px 49px 1fr;

    justify-content: center;
    padding-inline: var(--layout-padding);
    margin: auto;
    max-width: var(--layout-width);
    width: 100%;
    min-height: 560px;
  }
}

@media only screen and (min-width: 600px) {
  .layout {
    padding-top: 40px;
    gap: 40px;

    .divider {
      display: none;
    }

    .title {
      gap: 0.5rem;
      align-self: normal;
    }

    .cover {
      max-width: 100%;
      width: 480px;
      align-self: normal;
    }

    &__main {
      justify-content: flex-start;
      grid-template-areas: 'cover titles' 'cover form';
      grid-template-columns: auto 352px;
      grid-template-rows: 120px 1fr;
      column-gap: 60px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .layout {
    &__main {
      grid-template-columns: 480px 352px;
      column-gap: 120px;
    }
  }
}
